.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 300;
  font-size: 1.4rem;
  font-family: "Newsreader";  
}

.action-buttons button {
    font-size: 1.5rem;
    padding: 10px;
    width: auto;
    font-family: "Newsreader";
    background-color: white;
    border: solid 1px;
    outline: none;
    cursor: pointer;
  }

  .action-buttons button:hover {
    color: #E63333;
}