.friend-list {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: "Newsreader";
    font-size: 1.5rem;  
    gap: 1rem;
}

.friend-list-requests {
    gap: 1rem;
}

.friend-list-search {
    padding-right: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
}