.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-family: "Newsreader";
}

.logo {
    font-size: 36px;
    font-weight: 700;
    color: #E63333;
    float: left;
}

.search-bar-container {
    flex: 1;
    text-align: end;
    align-items: center;
  }

  .header-button button {
    font-size: 1.5rem;
    padding: 5px;
    font-family: "Newsreader";
    background-color: white;
    border: solid 1px;
    outline: none;
    cursor: pointer;
  }

  .header-button button:hover {
    color: #E63333;
  }

